html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative
}

body{
	left: 285;
  margin: 0;
  overflow: hidden;
  position: relative;
	background-color: white;
}

.page-breaks{
    background-color: black;
    position: fixed;

}

.navbar-custom {
    background-color: rgba(0,0,0,1);
    z-index: 1;
}

.navbar-brand {
    font-weight: 10;
}

.navbar-custom a {
    color: #fff;
}


.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.intro{
	border-top: 1px solid rgb(100,100,100);
	background-image:url('http://wallpoper.com/images/00/30/76/45/landscapes-cliff_00307645.jpg');
	background-color: #93A8A9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  border-bottom: 2px solid gray;
  z-index: -1;
}

.jumbotron{
	background-color: transparent;
  }

.jumbotron .container{
	position: relative;
	top: 80px;
	text-align: center;
	vertical-align: center;
	height: 100%;
}
.jumbotron h1{
	font-family: 'PT Serif', serif;
	font-weight: bold;
	color: white;
}

.jumbotron p{
	font-family: 'PT Serif', serif;
	color: white;
}

.btn-circle {
	position: relative;
	top: 100px;
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover {
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;

    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.about{
	border-bottom: 3px solid rgba(230,230,230,1);
}

.section-title{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.about img{
	display: block;
	font-family: 'PT Serif', serif;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
}

.about h3 {
	font-family: 'PT Serif', serif;
	font-size: 20px;
}

.projects {
	border-bottom: 3px solid rgba(230,230,230,1);
}

.projects h3 {
	font-family: 'PT Serif', serif;
	font-size: 20px;
}

/* resize images */
.projects .screenshots img {
    width: 100%;
    height: auto;
}

.projects .mobileView{
	display: block;
	font-family: 'PT Serif', serif;
	margin-right: auto;
	margin-left: auto;
}

.icon-container{
	margin-left: auto;
	margin-right: auto;
	height:60px;
	width: 203px;
}

#contactTitle{
	font-family: 'PT Serif', serif;
	text-align: center;
	color: black;
}

.contact h4 {
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: center;
}

#feedback .container{
    width: 520px;
    margin-top: 20px;
}

#feedback .counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

.copyright {
    margin-right: auto;
    margin-left: auto;
    width:150px;
    height: auto;
    text-align: center;
}


/* animations */
@-keyframes pulse{
	0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pulse {    
   	0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


